/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif ;

}
img{
    width: 100%;
}
/* contenitore principale nel main */
.contprinc{
    width: 50%;
    margin:auto;
    margin-top: 30px;
    /* test */
    /* background-color: crimson; */
 
}
/* attributi riga */
.riga{
    width: 100%;
}
/* contenitore singolo */
.contogg{
    width: 31%;
    display: inline-block;
    padding: 5px;
}
.cimg{
    position: relative;
}
.novis{

}
.visibile{
    position: absolute;
    top:0;
    left:0;
}
.cimg:hover .visibile{
display: none;
}

.cuore{
    vertical-align: middle;
    text-align: center;
    padding:10px;
    /* height: 10px; */
    /* width: 10px; */
    background-color: white;
    position: absolute;
    top: 30px;
    right: 0px;
    font-weight: bolder;
}
.continf{
    vertical-align: middle;
    text-align: center;
    color: white;
    position: absolute;
    bottom:20px;
    left: 0;
    font-size: smaller;
}
.continf span{
    font-size: 8px;
}
.verdi{
    padding: 6px;
    background-color: darkgreen;
}
.perc{
    padding: 6px;
    background-color: red;
}
.marca{
    display: block;
    font-size: smaller;
    font-size: 8px;
}
.nomevest{
    display: block;
    font-weight: 900;
    font-size: 8px;
}
.prezzo{
    color: red;
    font-weight: bold;
    font-size: small;
    font-size: 8px;
}
.scon{
    
    font-size: small;
    text-decoration: line-through;
    font-size: 8px;
}